<div class="jumbotron">
  <h1 class="display-4">Friend Finder!</h1>
  <p class="lead">Find new friends with compatibility!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/survey" role="button">Begin the Survey!</a>
</div>
